nav.bg-light.collapse.fixed-top.hide.navbar.navbar-expand-lg.navbar-light#nav
  span.h1.mb-0.navbar-brand(href="#")
    i.fa-moon.fas.mr-2
    | Operator
  button.navbar-toggler(
    aria-controls="navbarSupportedContent",
    aria-expanded="false",
    aria-label="Toggle navigation",
    data-toggle="collapse",
    data-target="navbarSupportedContent",
    type="button",
  )
    span.navbar-toggler-icon

  .collapse.navbar-collapse#navbarSupportedContent
    ul.mr-auto.navbar-nav

    form.form-inline.my-2.my-lg-0
      button.btn.btn-dark.btn-sm.my-2.my-sm-0.disconnect-wallets
        i.fa-sign-out-alt.fas
