.card.collapse.hide.mb-4.template.wallet-actions
  .card-header
    ul.card-header-tabs.nav.nav-tabs(role="tablist")
      li.nav-item.prepare-send.top-action
        a.nav-link.nav-send.text-primary(
          data-toggle="tab",
          href="#",
          role="tab",
        )
          | Send
      li.nav-item.prepare-receive.top-action
        a.nav-link.nav-receive.text-success(
          data-toggle="tab",
          href="#",
          role="tab",
        )
          | Receive
  .card-body
    .tab-content
      include prepare_receive.pug

      include prepare_send.pug
